<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>.devHacks 2024 Registration Platform</title>
    <script type="module" src="{{ url_for('static', filename='js/qrcodescanner.js') }}"></script>
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</head>
<body>
    <button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>
    <div class="toast-container position-fixed top-0 start-50 translate-middle-x p-3" id="toastContainer">
    </div>
    <div id="reader" class="container"></div>
    <div id="options">
        <div class="container text-center">
            <div class="btn-group" role="group" aria-label="Checkin Options">
                <input type="radio" class="btn-check" name="checkin" id="FridayCheckin" autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="FridayCheckin">Fri Check-In</label>

                <input type="radio" class="btn-check" name="checkin" id="SaturdayCheckin" autocomplete="off">
                <label class="btn btn-outline-primary" for="SaturdayCheckin">Sat Check-In</label>

                <input type="radio" class="btn-check" name="checkin" id="NoCheckin" autocomplete="off">
                <label class="btn btn-outline-primary" for="NoCheckin">Verify</label>
            </div>
        </div>
    </div>

    <template id="toastTemplate">
        <div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="d-flex">
            <div class="toast-body"></div>
            <button type="button" class="btn-close me-2 m-auto btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
        </div>
    </template>
</body>
</html>